* {
  margin: 0;
  padding: 0;
}

#container {
  margin: 0 auto;

  width: 960px;
  height: 960px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-row {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: row;
}

.cell {
  background-color: white;
  border: 1px solid gray;
}

.cell:hover {
  background-color: black;
}

.hovered-over{
  background-color: black;
}
